<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="../custom.css">
		
		<script type="text/javascript" src="http://spaceify.net/games/g/gamelib.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="connectionBar.js"></script>
		
		<script type="text/javascript" src="../../model/creature.js"></script>
		<script type="text/javascript" src="../../model/player.js"></script>
		<script type="text/javascript" src="../../model/tool.js"></script>
		<script type="text/javascript" src="../../model/toolbox.js"></script>
		<script type="text/javascript" src="../../model/world.js"></script>
		
		<script type="text/javascript" src="ballgame.js"></script>
		
		<script type="text/javascript" src="publicDisplay.js"></script>
		
		<script type="text/javascript">	
		    
		    var myToolbox = new Toolbox("Tools of the world");
            myToolbox.addTool(new Tool("pedding"));
            myToolbox.addTool(new Tool("water"));
            myToolbox.addTool(new Tool("bread"));
            myToolbox.addTool(new Tool("axe"));

            var myCreature = new Creature("Hans", 0);
            myCreature.images.push("../images/fox_1.png");
            myCreature.images.push("../images/fox_2.jpg");
            myCreature.images.push("../images/fox_3.png");
            myCreature.images.push("../images/fox_4.jpg");
            myCreature.images.push("../images/fox_5.jpeg");
            
            var myWorld = new World("The new world", 10, 1, myCreature, "world");

			ballGame = new Ballgame(70, 10);
			
		    var screen = new TestScreen();
			
		    window.onload = function(){
			    //screen.connect();
			    
			    connectionBar("connection");
			    
			    myWorld.draw();
				
				ballGame.setupDisplayBall();
				ballGame.addBall(75);
				
		    }
		</script>
		<title>
			CoCreature Public Display
		</title>
	</head>
<body>
    <div id="wrapper" class="row">
        <div id="connection" class="col-md-2 fullHeight"></div>
	    <div id="world" class="col-md-10"></div>
		<div id="ballsarea">
			<canvas id="myCanvas"></canvas>
		</div>
	</div>
</body>
</html>