<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="../custom.css">
		
		<script type="text/javascript" src="http://spaceify.net/games/g/gamelib.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="connectionBar.js"></script>
		
		<script type="text/javascript" src="../../model/creature.js"></script>
		<script type="text/javascript" src="../../model/player.js"></script>
		<script type="text/javascript" src="../../model/world.js"></script>
		
		<script type="text/javascript" src="../../model/ballgame.js"></script>
		
		<script type="text/javascript" src="publicDisplay.js"></script>
		
		<script type="text/javascript">	
            var myCreature = new Creature("Hans", 0);
            
            myCreature.stateImages.push("../images/fox_1.png");
            myCreature.stateImages.push("../images/fox_2.jpg");
            myCreature.stateImages.push("../images/fox_3.png");
            myCreature.stateImages.push("../images/fox_4.jpg");
            myCreature.stateImages.push("../images/fox_5.jpeg");
            
            myCreature.playImages.push("../images/play_slow.jpg");
            myCreature.playImages.push("../images/play_lessSlow.jpg");
            myCreature.playImages.push("../images/play_fast.jpg");
            myCreature.playImages.push("../images/play_dropped.jpg");
            
            myCreature.feedings.push("../images/fox_angry.gif");
            myCreature.feedings.push("../images/fox_gotfood.gif");
            myCreature.feedings.push("../images/fox_licking.gif");
            
            myCreature.gameAnimations.push("../images/fox-happytoplay.gif");
            myCreature.gameAnimations.push("../images/fox-sniffing.gif");
            myCreature.gameAnimations.push("../images/fox-notsure.gif,");
            myCreature.gameAnimations.push("../images/fox-jump.gif");
            myCreature.gameAnimations.push("../images/fox-ball.gif");            
            
            var myWorld = new World("The new world", 10, 1, myCreature, "world");

			ballGame = new Ballgame(70, 10);
			
		    var screen = new TestScreen();
			
		    window.onload = function(){
			    screen.connect();
			    
			    connectionBar("connection");
			    
			    myWorld.draw();
				
				//ballGame.setupDisplayBall();
				//ballGame.addBall(75);
				
		    }
		</script>
		<title>
			CoCreature Public Display
		</title>
	</head>
<body>
	<h2>Your Score <span id="tempScoreScreen"></h2>
	<h2>High Score <span id="hiScoreScreen"></h2>
    <div id="wrapper" class="row">
        <div id="connection" class="col-md-2 fullHeight"></div>
	    <div id="world" class="col-md-10"></div>
		<div id="ballsarea">
			<canvas id="myCanvas"></canvas>
		</div>
	</div>
</body>
</html>