<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="../custom.css">
		
		<script type="text/javascript" src="http://spaceify.net/games/g/gamelib.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		
		<script type="text/javascript" src="../../model/ballgame.js"></script>
		<script type="text/javascript" src="../../model/tool.js"></script>
		<script type="text/javascript" src="../../model/toolbox.js"></script>
		
		<script type="text/javascript" src="smartDevice.js"></script>
		<script type="text/javascript" src="smartDeviceGUI.js"></script>
		
		
		<script type="text/javascript">	
		    
			ballGame = new Ballgame(70, 10);
			
			var controller = null;
			
			var toolbox=new Toolbox("myToolbox");
			
		    window.onload = function(){
			    clickHandlers();
			    
			    controller = new TestController();
			    controller.connect();
				
				var tool1 = new Tool("Broccoli", "../images/broccoli.png");
                var tool2 = new Tool("Cake", "../images/cake.png");
                var tool3 = new Tool("Fish", "../images/fish.png");
            
                toolbox.addTool(tool1);
                toolbox.addTool(tool2);
                toolbox.addTool(tool3);
                
                $("#foodView").append(toolbox.draw());
				
				ballGame.setupControllerBall();
				//ballGame.addBall(75);
				
				// Add event listener for click events.
				canvas = document.getElementById('myCanvas');
				canvas.addEventListener('click', function(event) {
					if (gotBalls == true) {
						controller.sendBallPressed();
					} else {
						console.log("you don't have balls");
					}
					
				}, false);
			}
		</script>
		
		<title>
			Controller for coCreature
		</title>
	</head>
<body>
	<div class="container-fluid">
    	<div id="content" class="row contentitems">
        	<div id="foodView" class="col-xs-12 contentitems"></div>
        	<div id="gameView" class="col-xs-12 hidden contentitems">
            	<canvas id="myCanvas" class="mobilecanvas"></canvas>
        	</div>
    	</div>
    
    	<div id="buttons" class="row buttons">
        	<div id="feed" class="col-xs-6 text-center text-uppercase btn btn-default btn-lg singlebutton">Feed the fox</div>
        	<div id="game" class="col-xs-6 text-center text-uppercase btn btn-default btn-lg singlebutton">Play with the fox</div>
    	</div>
	
	</div>
</body>
</html>