.fullHeight { 
    min-height: 100%;
    height: 100%;
}

html,body,#wrapper, .container-fluid{
    height:100%;
}

.hidden {
     display:none;
}

.tool{
    width:300px;
}

.creature{
    width:40%;
}

.mobilecanvas{
	/*background-color: blue;*/
	width: 100%;
	min-height: 100%;
}

.contentitems{
	height: 70%;
}

.contentitem{
	height: 100%;
}

.buttons{
	height: 30%;
}

.singlebutton{
	height: 100%;
}