<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<script type="text/javascript" src="http://spaceify.net/games/g/gamelib.min.js"></script>
		
		<script type="text/javascript" src="../model/creature.js"></script>
		<script type="text/javascript" src="../model/player.js"></script>
		<script type="text/javascript" src="../model/tool.js"></script>
		<script type="text/javascript" src="../model/toolbox.js"></script>
		<script type="text/javascript" src="../model/world.js"></script>
		<script type="text/javascript" src="../controller/controller.js"></script>
		
		<script type="text/javascript">
		
		var myToolbox = new Toolbox("Tools of the world");
		myToolbox.push(new Tool("pedding"));
		myToolbox.push(new Tool("water"));
		myToolbox.push(new Tool("bread"));
		myToolbox.push(new Tool("axe"));
		
		var myCreature = new Creature("Hans", 0);
		var myWorld = new World("The new world", 10, 1, myCreature, myToolbox);
		
			
		//Group name for development use
				
		var GROUP_NAME = "coCreature";
		
		var SERVER_ADDRESS = {host: "spaceify.net", port: 1979};
		var WEBRTC_CONFIG = {"iceServers":[{url:"stun:kandela.tv"},{url :"turn:kandela.tv", username:"webrtcuser", credential:"jeejeejee"}]};
			
		function TestScreen(){
			var self = this;
			
			var gameClient = new GameClient();
			
			var buttonPressCounter = 0;
			
			
			self.onButtonPressed = function(x, y, callerId, connectionId, callback)
				{
				buttonPressCounter++;
				console.log("TestSreen::onButtonPressed() x: "+x+" y: "+y+" callerId: "+callerId+" connectionId: "+connectionId);
				document.getElementById("message").innerHTML = "Button pressed "+buttonPressCounter;
				};
				
			self.connect = function()
				{
				gameClient.exposeRpcMethod( "onButtonPressed", self, self.onButtonPressed);			
				
				gameClient.connect(SERVER_ADDRESS.host, SERVER_ADDRESS.port, "screen", GROUP_NAME, function(){});
				
				// Connect for deployment
				//gameClient.connectAsScreen("phaseroid", document.getElementById("url"), document.getElementById("qr"), function() {});	
				};
			}
		
		var screen = new TestScreen();
			
		window.onload = function(){
			screen.connect();
		}
				
		</script>
		<title>
			TestScreen for communicationhub
		</title>
	</head>
<body>
	<h2>
		TestScreen for communicationhub
	</h2>
	<h3>
		Please open the browser console to see what is happening!
	</h3>
	<h3>
		Message from the controller: <span id="message"></message>
	</h3>
	
	<!-- Uncomment for deployment
	<h3 id="url">
		Here should appear the controller URL
	</h3>
	<img id="qr"></img>
	-->
	
</body>
</html>